.portfolio__body{
    margin-top: 70px;
}

.yellow-lg{
    background: linear-gradient(to right, #111, #ebb836);
}

.yellow-font{
    color: #ebb836;
}

@media only screen and (min-width: 768px){
    .portfolio__cards{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        gap: 0px;
        overflow: hidden;
    }
}