.red-lg{
    background: linear-gradient(to right, #111, #e76f51);
}

.red-font{
    color: #e76f51;
}

@media only screen and (min-width: 768px){
    .skills__cards{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        position: absolute;
        top: calc(50% + 25px);
        left: 50%;
        transform: translate(-50%, -50%);
    }
}