.rainbow{
    background: linear-gradient(to right, #111, #2a9d8f, #e9c46a, #e76f51);
}

@media only screen and (min-width: 768px){
    .contact__cards{
        display: flex;
        margin: auto calc(10% - 15px);
        position: relative;
        top: 40%;
        transform: translateY(-40%);
    }
}