.footer__body{
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 50px;
}

.footer__copyright{
    margin: 10px 25px;
}

.footer__icons{
    display: flex;
    margin: 10px 25px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer__icons li{
    height: 16px;
    width: 16px;
    margin: 0 6px;
}

.footer__xing-icon{
    background: url("./assets/xing2.svg");
}

.footer__xing-icon:hover{
    background: url("./assets/xingcolor.svg");
}

.footer__linkedin-icon{
    background: url("./assets/linkedin2.svg");
}

.footer__linkedin-icon:hover{
    background: url("./assets/linkedincolor.svg");
}

.footer__github-icon{
    background: url("./assets/github2.svg");
    margin-right: 0px !important;
}

.footer__github-icon:hover{
    background: url("./assets/githubcolor.svg");
}

@media only screen and (min-width: 768px){
    .footer__body{
        margin: 0 10%;
        height: 60px;
    }

    .footer__icons li{
        height: 20px;
        width: 20px;
        margin: 0 8px;
    }

    .footer__copyright{
        font-size: 16px;
    }
}